body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;  
  font-size: calc(10px + 2vmin);
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.my-custom-select {
	padding-left:2px;
	width:300px;
	height:130px;
	overflow-y:scroll;
	overflow-x:hidden;
	text-align:left;
	border:1px solid lightgray;
	color:black;
}

.my-custom-select:hover {
	cursor:default;	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.my-custom-select:focus {
	border-color: lightblue;
}

.selectable {
	font-weight:normal;
}

.selectable:active {
	background-color:lightblue;
}

.hidden {
	display:none !important;
}

.spell-buttons {
	margin: 5px;
	font-size:14px;
}

.blue {
	color:#30b0db;
	font-weight:bold;
	font-size: 18px;
}

.my-title {
	text-align:center;
}

.choice-boxes {
	text-align:right;
}

.center {
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	margin-top:10px;
	font-size: 14px;
}

.choose {
	margin-top:15px;
	font-weight:bold;
	font-size:18px;
}

.prep-label {
	font-weight:bold;
}

.spell-slot-container {
	text-align:middle;
}

.spell-slot {
	border: 1px black solid;
	border-radius: 5px;
	box-shadow: 1px 4px gray;
	max-width:200px;
	height:88px;
	margin-top: 22px;
	margin-bottom:20px;
	margin-right:5px;
}

.spell-slot:hover {
	cursor:pointer;
}

.spell-slot:active {
  box-shadow: 0px 2px gray;
  margin-top: 24px;
  margin-bottom: 18px;
}

.no-select {
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

@media(max-width:575px){
	.spell-slot{
    	margin-right:auto;
    	margin-left:auto; 
		margin-top: 10px;
		margin-bottom:5px; 
    }
	.spell-slot:active{
		margin-top: 12px;
		margin-bottom:3px; 
    }
}