body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hidden {
	display:none;
}

.spell-buttons {
	margin: 5px;
	font-size:14px;
}

.blue {
	color:#4dd2ff;
	font-weight:bold;
	font-size: 18px;
}

.center-button {
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.my-title {
	text-align:center;
}

.choice-boxes {
	text-align:right;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}